name: Linux x86_64

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.4"

      - name: Install system dependencies
        run: sudo apt-get install -y python3-venv python3-dev python3-pip

      - name: Run end-to-end test
        run: Rscript docker/test.R
